Repository game-by-virtuals/game-node, pull requests merged in 2025-04, with the labels that each got.

#99 [CI] Update Plugin CI Check's Ref
  .github/workflows/validate-new-plugin-metadata.yml
Labels: plugin

#97 Feat/custom llm
  src/agent.ts
  src/api.ts
  src/apiV2.ts
  src/chatAgent.ts
Labels: enhancement

#112 [TwitterPlugin] Add Usage Examples for Game Twitter Client
  plugins/twitterPlugin/README.md
  plugins/twitterPlugin/example/.env.example
  plugins/twitterPlugin/example/test_game_twitter_client.ts
  plugins/twitterPlugin/example/virtuals-logo.png
Labels: enhancement, plugin

#115 [ACP Plugin][Docs] Add Reactive Examples
  plugins/acpPlugin/example/agentic/README.md
  plugins/acpPlugin/example/agentic/buyer.ts
  plugins/acpPlugin/example/agentic/seller.ts
  plugins/acpPlugin/example/reactive/.env.example
  plugins/acpPlugin/example/reactive/README.md
  plugins/acpPlugin/example/reactive/buyer_reactive.ts
  plugins/acpPlugin/example/reactive/env.ts
  plugins/acpPlugin/example/reactive/seller_reactive.ts
Labels: documentation, plugin
