Repository game-by-virtuals/game-node, pull requests merged in 2025-02, with the labels that each got.

#17 EchoChambers Integration
  plugins/echochambersPlugin/LICENSE
  plugins/echochambersPlugin/README.md
  plugins/echochambersPlugin/package-lock.json
  plugins/echochambersPlugin/package.json
  plugins/echochambersPlugin/src/echochambersPlugin.ts
  plugins/echochambersPlugin/src/example.ts
  plugins/echochambersPlugin/src/example_mock.ts
  plugins/echochambersPlugin/src/index.ts
  plugins/echochambersPlugin/src/types.ts
  plugins/echochambersPlugin/tsconfig.json
Labels: plugin

#15 Feature/example structure
  CONTRIBUTION_GUIDE.md
  examples/package.json
  examples/tg.ts
  examples/tsconfig.json
  examples/twitter.ts
  package.json
  tsconfig.json
Labels: enhancement

#22 feat: add the new plugin from APRO
  .gitignore
  plugins/attpsPlugin/.env.example
  plugins/attpsPlugin/.gitignore
  plugins/attpsPlugin/.npmignore
  plugins/attpsPlugin/README.md
  plugins/attpsPlugin/package-lock.json
  plugins/attpsPlugin/package.json
  plugins/attpsPlugin/src/attpsPlugin.ts
  plugins/attpsPlugin/src/index.ts
  plugins/attpsPlugin/src/types.ts
  plugins/attpsPlugin/test/index.test.ts
  plugins/attpsPlugin/tsconfig.json
  plugins/attpsPlugin/vite.config.ts
Labels: plugin

#26 feat: Add Enso plugin
  plugins/ensoPlugin/.gitignore
  plugins/ensoPlugin/.npmignore
  plugins/ensoPlugin/README.md
  plugins/ensoPlugin/package-lock.json
  plugins/ensoPlugin/package.json
  plugins/ensoPlugin/src/.env.example
  plugins/ensoPlugin/src/constants.ts
  plugins/ensoPlugin/src/ensoPlugin.ts
  plugins/ensoPlugin/src/example.ts
  plugins/ensoPlugin/src/index.ts
  plugins/ensoPlugin/src/utils.ts
  plugins/ensoPlugin/tsconfig.json
Labels: plugin

#46 Update README.md
  README.md
Labels: documentation

#38 imagegen plugin
  plugins/imageGenPlugin/README.md
  plugins/imageGenPlugin/package.json
  plugins/imageGenPlugin/src/example.ts
  plugins/imageGenPlugin/src/imageGenPlugin.ts
  plugins/imageGenPlugin/src/index.ts
Labels: plugin

#47 Feature/demo agent
  game-starter/examples/activity-recommender/agent.ts
  game-starter/examples/activity-recommender/functions.ts
  game-starter/examples/activity-recommender/index.ts
  game-starter/examples/activity-recommender/worker.ts
  game-starter/package-lock.json
  game-starter/package.json
  game-starter/tsconfig.json
  package-lock.json
  package.json
Labels: enhancement

#43 [AI Generated] feature: Add CDP AgentKit Farcaster plugin
  plugins/farcasterPlugin/.gitignore
  plugins/farcasterPlugin/.npmignore
  plugins/farcasterPlugin/README.md
  plugins/farcasterPlugin/package-lock.json
  plugins/farcasterPlugin/package.json
  plugins/farcasterPlugin/src/farcasterPlugin.ts
  plugins/farcasterPlugin/src/index.ts
  plugins/farcasterPlugin/tsconfig.json
Labels: plugin

#44 Elfa AI Plugin
  plugins/elfaAiPlugin/.gitignore
  plugins/elfaAiPlugin/.npmignore
  plugins/elfaAiPlugin/README.md
  plugins/elfaAiPlugin/__test__/ElfaAiPlugin.test.ts
  plugins/elfaAiPlugin/jest.config.js
  plugins/elfaAiPlugin/package-lock.json
  plugins/elfaAiPlugin/package.json
  plugins/elfaAiPlugin/src/elfaAiPlugin.ts
  plugins/elfaAiPlugin/src/example.ts
  plugins/elfaAiPlugin/src/index.ts
  plugins/elfaAiPlugin/tsconfig.json
Labels: plugin
